doctype html
html
    head
        title= title

        meta( charset="UTF-8" )

        meta( name="author", content="Mathias Paumgarten" )
        meta( name="description", content="Some cubes here and there, morphing like they just don't care" )
        meta( name="viewport", content="width=device-width, initial-scale=1.0, user-scalable=no" )

        link( href="stylesheets/main.css", rel="stylesheet" )

    body

        canvas#canvas.layer

        script( src="javascripts/main.js" )
